.Palatte {
    display: flex;
    align-items: center;
    gap: 15px;
}

.Palatte button {
    border: 1px solid black;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 1px;
}

.color_selector {
    width: 45px;
}